doctype html
html(lang = "en")
  head
    meta(charset = "utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name = "description" content = "Is my district gerrymandered?")
    meta(name = "author" content = "Jeffrey Shen")

    title 404
    
    script(src = "/bower_components/jquery/dist/jquery.min.js")
    script(src = "/dist/JS/main-min.js")
    link(href = "/dist/CSS/main.css" rel = "stylesheet" type = "text/css")
  
  body(lang = "en")
    center
      h1 404
      p Whoops! That page wasn't found
