doctype html
html(lang = "en")
  head
    meta(charset = "utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name = "description" content = "Determine whether your congressional district is gerrymandered using this website.")
    meta(name = "author" content = "Jeffrey Shen")

    title Is my district gerrymandered?
    
    script(src = "/bower_components/jquery/dist/jquery.min.js")
    link(href = "/dist/CSS/main.css" rel = "stylesheet" type = "text/css")
  
  body(lang = "en")
    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1891964484181442&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #wrapper
      center
        h1 Is my district gerrymandered? (NOT YET DONE: Still testing)
        br
        form#submitAddress(action = "/lookup" method = "post")
          input#address(type = "text" name = "address" placeholder = "Enter your address")
          input#zip(type = "text" name = "zip" placeholder = "Enter your zip code")
          input.btn(type = "submit" value = "CHECK!")
        br
        p#error(hidden) Please enter all fields
          br
          br
        p Or, <a href = "/random">go to a random district</a> or browse districts:
        br
        .select
          select#districts(name = "districts" onchange = "selectHandler()")
            option(value = "null") Pick a district:
            each district in district_codes
              option(value = district) #{district}
        br
        br
        .fb-share-button(data-href="http://ismydistrictgerrymandered.us" data-layout="button_count" data-size="small" data-mobile-iframe="true")
          a.fb-xfbml-parse-ignore(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fismydistrictgerrymandered.us%2F&amp;src=sdkpreparse") Share
        br
        br
        hr(align = "left")
        .inline
          p View the least compact districts: 
          .select
            select#compact-districts(name = "compact-districts" onchange = "compactDistrictsHandler()")
              option(value = "null") Pick a district:
              each district, i in compactness_ranks
                option(value = district)= (i + 1) + ". " + district
    script(src = "/dist/JS/main-min.js")
