doctype html
html(lang = "en")
  head
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-115738654-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115738654-1');
    script(async defer src="https://buttons.github.io/buttons.js")
    meta(charset = "utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name = "description" content = "Determine whether your congressional district is gerrymandered using this website.")
    meta(name = "author" content = "Jeffrey Shen")

    title Is my district gerrymandered?
    
    script(src = "/bower_components/jquery/dist/jquery.min.js")
    link(href = "/dist/CSS/main.css" rel = "stylesheet" type = "text/css")
  
  body(lang = "en")
    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1891964484181442&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #wrapper
      center
        h1 Is my district gerrymandered?
        br
        form#submitAddress(action = "/lookup" method = "post")
          input#address(type = "text" name = "address" placeholder = "Enter your address")
          input#zip(type = "text" name = "zip" placeholder = "Enter your zip code")
          input.btn(type = "submit" value = "CHECK!")
        br
        p#error(hidden) Please enter all fields
          br
          br
        p Or, <a href = "/random">go to a random district</a> or browse districts:
        br
        .select
          select#districts(name = "districts" onchange = "selectHandler()")
            option(value = "null") Pick a district:
            each district in district_codes
              option(value = district) #{district}
        br
        br
        p Or, view the least compact districts: 
        br
        .select
          select#compact-districts(name = "compact-districts" onchange = "compactDistrictsHandler()")
            option(value = "null") Pick a district:
            each district, i in compactness_ranks
              option(value = district)= (i + 1) + ". " + district
        br
        br
        hr(align = "left")
        a(href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=TYZQFQ46HNQE6" rel="nofollow")
          img(src="https://camo.githubusercontent.com/d5d24e33e2f4b6fe53987419a21b203c03789a8f/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f446f6e6174652d50617950616c2d677265656e2e737667" alt="Donate" data-canonical-src="https://img.shields.io/badge/Donate-PayPal-green.svg" style="max-width:100%;")
        .fb-share-button(data-href="http://ismydistrictgerrymandered.us" data-layout="button_count" data-size="small" data-mobile-iframe="true" style = "display:inline;position:relative;top:-3px;margin-right: 2px;margin-left:2px;")
          a.fb-xfbml-parse-ignore(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fismydistrictgerrymandered.us%2F&amp;src=sdkpreparse" style = "") Share
        a.github-button(href="https://github.com/jeffreyshen19/Is-My-District-Gerrymandered" data-icon="octicon-star" aria-label="Star ntkme/github-buttons on GitHub") Star
    script(src = "/dist/JS/main-min.js")
