@import "reset";
@import "theme";

p{
  margin-bottom: 5px;
}

.subtitle{
  font-size: 1.1em;
}

i.fa{
  margin-left: 5px;
}

ul{
  margin: 0 auto;
  width: 60%;
  text-align: left;
  list-style-type: disc;
  li{
    margin-bottom: 10px;
  }
}

.btn{
  width: 300px;
  text-align: center;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: $blue;
  padding: 0;
  box-sizing: border-box;
  height: 50px;
  z-index: 100;

  .left, .right, .center{
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 17px;
    height: 50px;

    a{
      text-decoration: none;
      color: white;
    }
  }

  .right{
    text-align: right;
  }

  .center{
    text-align: center;
  }

  .hidden{
    visibility: hidden;
  }
}

#wrapper{
  padding: 50px 20px 75px;
  box-sizing: border-box;
  text-align: center;
}

#svg{
  height: 150px;
}

#map{
  height: 400px;
  width: 70%;
  margin: 0 auto;
  z-index: 60;
}

.checkbox{
  display: inline;
}

@media screen and (max-width: 800px){
  ul, #map{
    width: 80%;
  }
  .checkbox{
    display: inline-block;
  }
}
