@import "reset";
@import "theme";

center{
  width: 80%;
  text-align: left;

  #address{
    width: 400px;
  }
  #zip{
    width: 200px;
  }
}

hr{
  width: 50%;
  border-top: 1px solid black;
}

.inline{
  display: inline-block;
  width: 100%;
  p, select{
    display: inline;
    line-height: 40px;
    vertical-align: text-top;
  }
}

@media screen and (max-width: 600px){
  center{
    text-align: center;
    #address, #zip, .btn{
      width: 300px;
    }
  }
  hr{
    width: 100%;
  }
}

@media screen and (max-width: 600px) and (max-height: 600px){
  center{
    height: 100vh;
    padding: 20px 0;
    top: 0;
    transform: none;
  }
}
