@import "reset";
@import "theme";

center{
  width: 80%;
  text-align: left;

  #address{
    width: 400px;
  }
  #zip{
    width: 200px;
  }
}

hr{
  width: 50%;
  border-top: 1px solid black;
}

.inline{
  display: inline-block;
  width: 100%;
  p, select{
    display: inline;
    line-height: 40px;
    vertical-align: text-top;
  }
}
